.main {
    max-width: 1200px;
    background-color: bisque;
    margin: 20px auto;
}
span {
    display: block;
    color:#333333;
    font-family:Tahoma-Bold,AdobeInvisFont,MyriadPro-Regular;
    font-size:24px;
    margin: 70px auto;
    text-align: center;
}
.col-2 img {
    display: block;
    width: 71px;
    height: 71px;
    margin: 0 auto;
}
.col-2 p{
    tab-size: 16px;
    margin: 20px auto;
    padding: 0;
    text-align: center;
}